Merchant.Web.UI/Service References/ParsianServiceReference/PosRequestService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PecCare.Domain.Lookup" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PecCare.Domain.Lookup" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://portal.pec.ir/services/PosRequestService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/PecSite.Web.UI.MVC.Model" />
  <xs:complexType name="CustomerStatusLookUp">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/PecSite.Web.UI.MVC.Model" base="q1:StaticLookupModelOfLookupItemdr1xjEZd">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerStatusLookUp" nillable="true" type="tns:CustomerStatusLookUp" />
  <xs:complexType name="CityLookup">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/PecSite.Web.UI.MVC.Model" base="q2:LookupModelOfanyTypeBKCityDSBKCityDS.BKCityDataTableBKCityDS.BKCityRowQOZLuZJP">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CityLookup" nillable="true" type="tns:CityLookup" />
</xs:schema>