Merchant.Web.UI/Service References/ParsianServiceReference/PosRequestService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PecSite.Web.UI.MVC.Helpers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PecSite.Web.UI.MVC.Helpers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLookupSelectedItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LookupSelectedItem" nillable="true" type="tns:LookupSelectedItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLookupSelectedItem" nillable="true" type="tns:ArrayOfLookupSelectedItem" />
  <xs:complexType name="LookupSelectedItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="MetaData" nillable="true" type="tns:ArrayOfMetadataHelper" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LookupSelectedItem" nillable="true" type="tns:LookupSelectedItem" />
  <xs:complexType name="ArrayOfMetadataHelper">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MetadataHelper" nillable="true" type="tns:MetadataHelper" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMetadataHelper" nillable="true" type="tns:ArrayOfMetadataHelper" />
  <xs:complexType name="MetadataHelper">
    <xs:sequence>
      <xs:element name="_x003C_Title_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Value_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MetadataHelper" nillable="true" type="tns:MetadataHelper" />
</xs:schema>