Merchant.Web.UI/Service References/ParsianServiceReference/PosRequestService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PecCare.Domain.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PecCare.Domain.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://portal.pec.ir/services/PosRequestService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="WsPosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionState" type="xs:int" />
      <xs:element minOccurs="0" name="ChannelState" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PosTrackIds" nillable="true" type="q1:ArrayOflong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WsPosResponse" nillable="true" type="tns:WsPosResponse" />
  <xs:complexType name="PosInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionState" type="xs:int" />
      <xs:element minOccurs="0" name="ChannelState" type="xs:int" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallDate" type="xs:int" />
      <xs:element minOccurs="0" name="PosTermNo" type="xs:int" />
      <xs:element minOccurs="0" name="UnInstallDate" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PosInfoResponse" nillable="true" type="tns:PosInfoResponse" />
</xs:schema>