Merchant.Web.UI/Service References/FanavaServiceReference/MerchantContract4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://yekta.fanavacard.com/WCF/MerchantContract.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" />
  <xs:element name="AddMerchantContractWithShaparakCoding">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q1:WSInputMerchantContractAdd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMerchantContractWithShaparakCodingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="AddMerchantContractWithShaparakCodingResult" nillable="true" type="q2:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListMerchantContractWithShaparakCoding">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q3:WSInputMerchantContractAddList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListMerchantContractWithShaparakCodingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="AddListMerchantContractWithShaparakCodingResult" nillable="true" type="q4:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListMerchantContractWithShaparakCodingByTerminalNO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q5:WSInputMerchantContractAddListByTerminalNO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListMerchantContractWithShaparakCodingByTerminalNOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="AddListMerchantContractWithShaparakCodingByTerminalNOResult" nillable="true" type="q6:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DefineTerminalsOnlyOnShaparak">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q7:WSInputMerchantContractAddListByTerminalNO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DefineTerminalsOnlyOnShaparakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="DefineTerminalsOnlyOnShaparakResult" nillable="true" type="q8:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMerchantContractListandSendToShaparak">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q9:WSInputMerchantContractAddList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMerchantContractListandSendToShaparakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="UpdateMerchantContractListandSendToShaparakResult" nillable="true" type="q10:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefineTerminalStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q11:WSInputTerminalStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefineTerminalStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="GetDefineTerminalStatusResult" nillable="true" type="q12:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPersonById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q13:WSInputFindPersonById" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPersonByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindPersonByIdResult" nillable="true" type="q14:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPersonByNationalCodeOrUniversalId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q15:WSInputFindPersonByNationalCodeOrUniversalId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPersonByNationalCodeOrUniversalIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindPersonByNationalCodeOrUniversalIdResult" nillable="true" type="q16:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q17:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindLocationsResult" nillable="true" type="q18:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAgents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q19:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAgentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindAgentsResult" nillable="true" type="q20:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBankActors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q21:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBankActorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindBankActorsResult" nillable="true" type="q22:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindActorTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q23:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindActorTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindActorTypesResult" nillable="true" type="q24:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMarketerTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q25:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMarketerTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindMarketerTypesResult" nillable="true" type="q26:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMerchantContractDocumentTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q27:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMerchantContractDocumentTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindMerchantContractDocumentTypesResult" nillable="true" type="q28:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMerchantContractStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q29:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMerchantContractStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindMerchantContractStatusResult" nillable="true" type="q30:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPosModels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q31:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPosModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindPosModelsResult" nillable="true" type="q32:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindETrustCertTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q33:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindETrustCertTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindETrustCertTypesResult" nillable="true" type="q34:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q35:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindCategoriesResult" nillable="true" type="q36:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindActivityPermissions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q37:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindActivityPermissionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindActivityPermissionsResult" nillable="true" type="q38:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindActivityLicenses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q39:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindActivityLicensesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindActivityLicensesResult" nillable="true" type="q40:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindOwnershipTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q41:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindOwnershipTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindOwnershipTypesResult" nillable="true" type="q42:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBusinessTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q43:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBusinessTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindBusinessTypesResult" nillable="true" type="q44:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindJobPositions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q45:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindJobPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindJobPositionsResult" nillable="true" type="q46:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEducations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q47:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEducationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindEducationsResult" nillable="true" type="q48:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEntityStructures">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q49:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEntityStructuresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindEntityStructuresResult" nillable="true" type="q50:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGenders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q51:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGendersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindGendersResult" nillable="true" type="q52:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindVitalStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q53:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindVitalStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindVitalStatusResult" nillable="true" type="q54:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q55:WSInputFindAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindAccountResult" nillable="true" type="q56:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindChangeAccountRequestByRequestNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q57:WSInputFindChangeAccountByMchCtrRequestNo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindChangeAccountRequestByRequestNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindChangeAccountRequestByRequestNoResult" nillable="true" type="q58:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindChangeAccountRequestByContractNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q59:WSInputFindChangeAccountRequestByContractNo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindChangeAccountRequestByContractNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindChangeAccountRequestByContractNoResult" nillable="true" type="q60:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisableRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q61:WSInputDisableRequestByIdOrRequestNoOrTerminal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDisableRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="GetDisableRequestResult" nillable="true" type="q62:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDisableRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q63:WSInputDisableRequestByIdOrRequestNoOrTerminalList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDisableRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="GetAllDisableRequestResult" nillable="true" type="q64:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMerchantContractWithShaparakCoding">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q65:WSInputMerchantContractAdd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeMerchantContractWithShaparakCodingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="ChangeMerchantContractWithShaparakCodingResult" nillable="true" type="q66:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeListMerchantContractWithShaparakCoding">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q67:WSInputMerchantContractAddList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeListMerchantContractWithShaparakCodingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="ChangeListMerchantContractWithShaparakCodingResult" nillable="true" type="q68:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAccountList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q69:WSInputChangeAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeAccountListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="ChangeAccountListResult" nillable="true" type="q70:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AmendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q71:WSInputAmendRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AmendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="AmendRequestResult" nillable="true" type="q72:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AmendRequestList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q73:WSInputAmendRequestList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AmendRequestListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="AmendRequestListResult" nillable="true" type="q74:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAmentRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q75:WSInputFindAmentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAmentRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindAmentRequestResult" nillable="true" type="q76:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDisableRequestedByTerminalNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q77:WSInputDisableRequestedByTerminalNo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDisableRequestedByTerminalNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindDisableRequestedByTerminalNoResult" nillable="true" type="q78:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAmendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q79:WSInputFindAmendRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAmendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindAmendRequestResult" nillable="true" type="q80:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDisableRequestOne">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q81:WSInputDisableRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDisableRequestOneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="AddDisableRequestOneResult" nillable="true" type="q82:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListDisableRequestOne">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q83:WSInputDisableRequestList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListDisableRequestOneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="AddListDisableRequestOneResult" nillable="true" type="q84:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMerchantContractByContractNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q85:WSInputFindAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindMerchantContractByContractNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindMerchantContractByContractNoResult" nillable="true" type="q86:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMerchantsAttachmentsByContractNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q87:WSInputAddMerchantsAttachmentsByContractNo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMerchantsAttachmentsByContractNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="AddMerchantsAttachmentsByContractNoResult" nillable="true" type="q88:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBankContractByBankID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q89:WSFindBankContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBankContractByBankIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindBankContractByBankIDResult" nillable="true" type="q90:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProvinceByAgentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q91:WSInputFindProvinceByAgentId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindProvinceByAgentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindProvinceByAgentIdResult" nillable="true" type="q92:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindReasonDisable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q93:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindReasonDisableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindReasonDisableResult" nillable="true" type="q94:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAgentByCityShaparakCodeAndBankId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q95:WSInputFindPspByCityShaparakCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAgentByCityShaparakCodeAndBankIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindAgentByCityShaparakCodeAndBankIdResult" nillable="true" type="q96:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBankManagement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q97:WSInputFindBankBranchManagmement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBankManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindBankManagementResult" nillable="true" type="q98:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBankBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q99:WSInputFindBankBranch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBankBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindBankBranchResult" nillable="true" type="q100:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindInstalledTermialByNationalCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q101:WsInputFindInstalledTermialByNationalCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindInstalledTermialByNationalCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindInstalledTermialByNationalCodeResult" nillable="true" type="q102:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindInstalledTermialByDateRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q103:WsInputFindInstalledTermialByDateRange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindInstalledTermialByDateRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindInstalledTermialByDateRangeResult" nillable="true" type="q104:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAccountByNationalCodeOrTerminalNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q105:WSInputFindAccountByNationalCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAccountByNationalCodeOrTerminalNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindAccountByNationalCodeOrTerminalNoResult" nillable="true" type="q106:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAccountByDateRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q107:WSInputFindAccountByDateRange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAccountByDateRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindAccountByDateRangeResult" nillable="true" type="q108:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveMerchantWithShaparakCoding">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q109:WSInputApproveMerchantWithShaparakCoding" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveMerchantWithShaparakCodingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="ApproveMerchantWithShaparakCodingResult" nillable="true" type="q110:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminalSerialDedication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q111:WSInputTerminalSerialDedication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminalSerialDedicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="TerminalSerialDedicationResult" nillable="true" type="q112:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PosReplacement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q113:WSInputPosreplacement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PosReplacementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="PosReplacementResult" nillable="true" type="q114:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPosStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="Input" nillable="true" type="q115:WSInputPosStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPosStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="GetPosStatusResult" nillable="true" type="q116:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchantStatusWithRequestNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q117:WSInputGetMerchantStatusWithRequestNo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMerchantStatusWithRequestNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="GetMerchantStatusWithRequestNoResult" nillable="true" type="q118:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestNoWithContractNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q119:WSInputUpdateRequestNoWithContractNo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestNoWithContractNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="UpdateRequestNoWithContractNoResult" nillable="true" type="q120:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestTerminalNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q121:WSInputTestTerminal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestTerminalNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="TestTerminalNoResult" nillable="true" type="q122:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileAttachmentListByContractNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q123:WSInputFileAttachmentListByContractNo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileAttachmentListByContractNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="GetFileAttachmentListByContractNoResult" nillable="true" type="q124:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PspRejectList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q125:WSInputPspRejectList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PspRejectListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="PspRejectListResult" nillable="true" type="q126:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveListMerchantContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q127:WSInputRemoveListMerchantContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveListMerchantContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="RemoveListMerchantContractResult" nillable="true" type="q128:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSwitch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q129:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllSwitchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindAllSwitchResult" nillable="true" type="q130:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShaparakInValidListByContractNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q131:WSInputFindShaparakInvalidList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindShaparakInValidListByContractNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindShaparakInValidListByContractNoResult" nillable="true" type="q132:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindContractType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q133:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindContractTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindContractTypeResult" nillable="true" type="q134:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMerchantLocationWithTerminalNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="input" nillable="true" type="q135:WSInputAddMerchantLocationWithTerminalNo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMerchantLocationWithTerminalNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="AddMerchantLocationWithTerminalNoResult" nillable="true" type="q136:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="login" nillable="true" type="q137:WSInputLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/TMMS.Common.Messages" minOccurs="0" name="FindCityResult" nillable="true" type="q138:WSOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>